<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Comment</title>
</head>
<body>
    <h2>Edit Comment</h2>
    <form action="/comments/<%= requestedId.id %>?_method=PATCH" method="post">
        <textarea name="commentArea" id="" cols="30" rows="10"><%= requestedId.comment %> </textarea>
        <button>Submit</button>
    </form>
</body>
</html>